[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
colored = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
jupyter = "*"
yellowbrick = "*"
seaborn = "*"
lightfm = "*"
graphqlclient = "*"
joblib = "*"
lime = "*"
pipenv-to-requirements = "*"
jupyter-contrib-nbextensions = "*"

[dev-packages]

[requires]
python_version = "3.7"
